* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
.hidden {
  display: none !important;
}

/* VARS */
:root {
  --main-color: #1273e4;
}

.container {
  top: 0;
  left: 0;
  background-image: url('./img/bg.png'),
    linear-gradient(
      180deg,
      #eff4ff 0%,
      #eaf0ff 23.44%,
      #e6edff 64.06%,
      #adc6ff 100%
    );
  background-size: cover, cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .logol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  margin-left: 62px;
}
.header .logol img {
  width: 110px;
}
.header .logol p {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 80%;
  text-transform: uppercase;
  color: var(--main-color);
  margin-top: 9px;
}
.header .logor img {
  width: 85px;
  margin-right: 30px;
  margin-top: 10px;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Content */
.start,
.filling {
  padding: 100px 170px;
}

.content {
  height: 100%;
}

.content .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.content .top h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 135%;
  text-transform: uppercase;
  color: var(--main-color);
}

.filling .content .top button {
  border: 8px solid var(--main-color);
  box-sizing: border-box;
  border-radius: 150px;
  width: 307px;
  height: 103px;
  background-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 135%;
  text-align: center;
  color: var(--main-color);
}

.content .medium {
  height: 629px;
  display: flex;
  justify-content: space-between;
}

.content .bottom {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.content .bottom button {
  background: var(--main-color);
  border-radius: 150px;
  height: 103px;
  width: 632px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 135%;
  color: #fff;
}
.content .bottom button:disabled {
  background: #b9b9b9;
  color: rgba(255, 255, 255, 0.4);
}

/* START PAGE */

.start .content .photos {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: rgba(18, 115, 228, 0.05);
}

.start .photos .grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
}

.start .photos .grid > * {
  margin-top: 5px;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center center;
  background-image: url('./img/placeholder.svg');
}

.start .content .medium .photo {
  min-width: 559px;
  height: 629px;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.start .content .medium .cover {
  width: 530px;
  height: 600px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start .content .medium .img {
  width: 430px;
  height: 500px;
  background-image: url('./img/placeholder.svg');
  background-size: cover;
  background-position: center center;
}

/* FILLING PAGE */

.filling .content .medium .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filling .content .medium .form input {
  background-color: var(--main-color);
  width: 100%;
  height: 85px;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 150px;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 135%;
  padding: 10px 25px;
  color: #ffffff;
  outline: none;
}
.filling .content .medium .form input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 135%;
  opacity: 0.4;
  color: #ffffff;
}

.keyboard {
  width: 90%;
  margin-top: 33px;
  height: 333px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 100%;
}

.keyboard .row {
  margin-top: 10px;
  display: flex;
}

.keyboard .row .key {
  padding: 20px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  margin-right: 9px;
}
.keyboard .row .key:last-child {
  margin-right: 0;
}
.keyboard .row .key img {
  width: 40px;
}
.keyboard .row .key[data-key=' '] {
  min-width: 305px !important;
}

.filling .content .medium .img {
  width: 629px;
  min-width: 629px;
  height: 629px;
  background-image: url('./img/placeholder.svg');
  background-size: cover;
  background-position: center center;
  margin-left: 15px;
}

/* SENDING PAGE */

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.sending {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sending h1 {
  margin-bottom: 50px;
}
.sending img {
  width: 360px;
  animation: spin 8s linear infinite;
}

/* SENT PAGE */

.sent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Common styles */
.sending h1,
.sent h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 135%;
  text-transform: uppercase;
  color: var(--main-color);
}
